
.course-view
  div(ng-if="error")
    .error {{ error }}
  div(ng-if="!error && course != null")
    //- need to put course != null, so that link-courses has obj
    h1(ng-bind="course.Title" ng-class="course.Link + '_bc'")
    .course-details
      p.prereqs(link-courses="course.Prereqs")
      p.desc(link-courses="course.Desc")
      div.hours
        div.credit-hours(ng-bind="course.Hours.Credit")
        div.lecture-hours(ng-bind="course.Hours.Lecture")
        div.lab-hours(ng-bind="course.Hours.Lab")
      br
      div.offered
        strong Typically offered:&nbsp;
        span(ng-if="course.Offered.Fall") Fall&nbsp;
        span(ng-if="course.Offered.Spring") Spring&nbsp;
        span(ng-if="course.Offered.Summer") Summer&nbsp;
  div(ng-if="availabilityIframe != null && availabilityIframe.length")
    h2 Availability
    iframe(ng-href="{{availabilityIframe}}" style="width: 98%;height: 80vh")