div.search-info
  table
    tbody
      tr
        td
          | Total Results:&nbsp;
          span(ng-bind="searchResults.TotalResults")
        td
          | Execution Time:&nbsp;
          span(ng-bind="executionTimeSimplified")
          | s
.course-small.search-result(ng-repeat="course in searchResults.Results")