h1 Search
pre {{ query }}
div(ng-repeat="course in courses")
  h3 {{course.Title}}
  p.desc {{course.Desc}}
  div.hours
    div.credit-hours {{course.Hours.Credit}}
    div.lecture-hours {{course.Hours.Lecture}}
    div.lab-hours  {{course.Hours.Lab}}
  div.offered
    strong Typically offered:
    