@import './hours.styl'
.course-small
  width 300px
  padding 10px
  display inline-block
  margin-top 20px
  font-size:14px
  h3
    margin 0
  .close
    display none
  &.search-result
    display block
    width auto
    max-width 512px