form.search-bar(ng-controller="SearchBarCtrl" ng-submit="callSearch(query)")
  label(for="searchBox") Search
  input#searchBox(type="search" ng-model="query" placeholder="Search courses...")
  input(type="submit" value="Go")