body { margin: 0; font-family: sans-serif; background: #fff; }
.top-bar { position: fixed; top: 0; left: 0; right: 0; height: 40pt;
background-color: #f2f2f2; border-bottom: 1px solid #eee;
z-index: 1;}
.app-view { margin-top: 40pt; padding: 20pt;}


.search-bar * { font-size: 16pt; height: 30pt; margin: 5pt 0; }
.search-bar label { margin-right: 5pt; }